<div class="container" [hidden]="submitted">
	<div class="row">
	    <div class="col-sm-12">
	      <h2>Create New Purchase Record</h2>
        <mat-divider></mat-divider>
	    </div>
    </div>

    <form (ngSubmit)="onSubmit()" #newBillForm="ngForm" >
      <div class="row"> <!-- form fields start -->
          <!--
          <div class="col-md-6">
          	<mat-form-field>
              	<input [(ngModel)]="model.buyerId" name="buyerId" matInput placeholder="Buyer Id" #buyerId>
            	</mat-form-field>
        	</div>-->

          <div class="col-md-6">
              <mat-form-field [formGroup]="buyerForm" class="width-full">
                <input type="text" matInput placeholder="Buyer Name" formControlName="buyerGroup" [matAutocomplete]="autoGroup">
                  <mat-autocomplete #autoGroup="matAutocomplete" >
                    <mat-optgroup *ngFor="let group of buyerGroupOptions | async" [label]="group.letter">
                      <mat-option *ngFor="let name of group.names" [value]="name.name" (onSelectionChange)="onBuyerSelect(name)">
                        {{name.name}}
                      </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
              </mat-form-field>
          </div>



        	<div class="col-md-6" >
             	<mat-form-field class="width-full">
              	<input [(ngModel)]="model.discount" name="discount" matInput placeholder="Discount" #discount>
            	</mat-form-field>
        	</div>

        	<div class="col-md-6" >
             	<mat-form-field class="width-full">
              	<input [(ngModel)]="model.tax" name="tax" matInput placeholder="Tax" #tax>
            	</mat-form-field>
        	</div>
          <div class="col-md-6">
              <mat-form-field class="width-full"> 
                <input [(ngModel)]="model.amountPaid" name="amountPaid" matInput placeholder="amountPaid" #amountPaid>
              </mat-form-field>
          </div>
      </div><!-- form fields end -->

      <div class="row" *ngFor="let item of items">
       <div class="col-md-12">
          <mat-card class="item-card" >
            <mat-card-header>
              <mat-card-title>{{item.desc }}</mat-card-title>
              <mat-card-subtitle> {{item.weight}} Grams</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div>
                Quantity : {{item.quantity}}
              </div>
              <div>
                Unit Cost : {{item.unitCost}}
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="deleteItem(item)">Delete</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3>Add Item</h3>
          <mat-divider></mat-divider>
        </div>
        <div class="col-md-6">
              <mat-form-field class="width-full">
                <textarea [(ngModel)]="item.desc" name="itemDesc" matInput placeholder="Item Description" #itemDesc> </textarea>

              </mat-form-field>
        </div>

        <div class="col-md-6">
              <mat-form-field>
                <input [(ngModel)]="item.weight" name="itemWeight" matInput placeholder="Weight" #itemWeight>
              </mat-form-field>
        </div>

        <div class="col-md-6">
              <mat-form-field>
                <input [(ngModel)]="item.quantity" name="itemQuantity" matInput placeholder="Quantity" #itemQuantity>
              </mat-form-field>
        </div>

        <div class="col-md-6">
              <mat-form-field>
                <input [(ngModel)]="item.type" name="itemType" matInput placeholder="Type" #itemType>
              </mat-form-field>
        </div>

        <div class="col-md-6">
              <mat-form-field>
                <input [(ngModel)]="item.unitCost" name="unitCost" matInput placeholder="Unit Cost" #unitCost>
              </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="button" mat-fab color="primary" (click)="addItem();">Add</button>
        </div>
      </div>

    <mat-divider></mat-divider>
	  <div class="row margin-top-10"><!-- buttons start -->
	    <div class="col-md-2">
	        <button type="submit" mat-raised-button color="primary" >
	          Save
	        </button>
	    </div>
	    <div class="col-md-2">
	        <button type="button" mat-raised-button color="accent" (click)="newBill(); newBillForm.reset()">
	          Reset
	        </button>
	    </div>
	  </div> <!-- buttons end -->
  </form>
</div>
