<h2>My Bills</h2>

<div>

  <mat-form-field>
    <input matInput placeholder="Bill Name" #billDesc>
  </mat-form-field>


  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-raised-button color="accent" (click)="add(billDesc.value); billDesc.value=''">
    add
  </button>
</div>

<ul class="bills">
  <li *ngFor="let bill of bills">
    <a routerLink="/detail/{{bill.id}}">
      <span class="badge">{{bill.id}}</span> {{bill.name}}
    </a>
    <button class="delete" title="delete bill"
      (click)="delete(bill)">x</button>
  </li>
</ul>
